@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}

#blob {
    translate: -50% -50%;
    background: linear-gradient(
        to right,
        #EA4B30,
        #C266B3
    );
    animation: rotate 20s infinite;
}

#blur {
    backdrop-filter: blur(200px);
}
#blur2 {
    backdrop-filter: blur(200px);
}

@media (max-width: 1268px) {
    #blob,
    #blur,
    #blur2 {
        display: none;
    }
}